# Gradle
.gradle/
build/
*/build/

# Gradle Wrapper
!gradle/wrapper/gradle-wrapper.jar
!gradlew
!gradlew.bat

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# SonarLint
.idea/sonarlint/
.idea/modules/
.idea/libraries/

# Compiled class files
*.class
*.jar
*.war
*.ear

# Logs and reports
*.log
*.tmp
*.swp
*.bak

# OS-specific
.DS_Store
Thumbs.db

# VS Code (por si acaso alguien lo usa también)
.vscode/

# LocalStack
.localstack/
